<div class="container">
  <div class="row text-center">
    <div class="col-sm-12 col-md-12 col-lg-7 py-5 my-3 mx-auto bg-white">
      <h1 class="title">Archit.</h1>
        <p class="mt-4">Archit.(アージェ)は、世界中の素晴らしい建築を写真で共有するSNSです</p>
          <p>あなたの好きな建築写真を投稿し、旅行や建築好きな方と繋がろう！</p>
            <div class="mt-4"><%= link_to "ログイン", new_user_session_path, class: "btn btn-secondary rounded-0 w-50" %></div>
            <div class="mt-4"> <%= link_to "新規登録", new_user_registration_path, class: "btn btn-secondary rounded-0 w-50" %></div>
            <div class="mt-4"><%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-light rounded-0 w-50", method: :post %></div>
    </div>
  </div>
<!--新着投稿４件表示-->
  <i class="fas fa-star fa-spin fa-1x mr-2" style="color: yellow;"></i><span> NEW POST</span><i class="fas fa-star fa-spin fa-1x ml-2" style="color: yellow;"></i>
  
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-sm-12 col-md-3 col-lg-3">
      <p class="pickup-img mx-2"><%= image_tag post.get_post_image(200, 200), class: "img-fluid w-100" %></p>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col text-right mb-3"> 
        <%= link_to "全ての投稿を見る＞", posts_path %>
    </div>
  </div>
</div>
