<!DOCTYPE html>
<html>
  <head>
    <title>Archit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column vh-100">
    <header>
      <%= render "layouts/header" %>
    </header>
    <main class="my-4">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <%= yield %>
    </main>
    <footer class="mt-auto border-top border-dark">
      <div class="container p-3">
        <h2 class="text-center">Archit.</h2>
      　  <div class="admin text-right"><%= link_to "管理者ログイン", new_admin_session_path, class: "text-dark link-secondary" %></div>
      </div>
    </footer>
  </body>
</html>
